---
title: Uninstall Feedback
layout: article
reasons:
  missing_features:
    text: Didn't have the feature(s) I desired
    question: Which features did you desire?
  difficult:
    text: It was too difficult to use
    question: What did you find difficult in particular?
  buggy:
    text: It was buggy or unstable, or didn't work at all
    question: What bugs/issues did you find?
  no_need:
    text: I don't need a New Tab page extension
---

<h1>We'd appreciate your feedback</h1>

<p>
	Thanks for trying out Renewed Tab.
	Please help us make Renewed Tab better by giving feedback.
</p>

<form action="https://api.renewedtab.com/feedback/?r=1" method="post">
	<input type="hidden" name="event" value="uninstall" />
	<input type="hidden" name="platform" disabled />
	<input type="hidden" name="browser" disabled />
	<input type="hidden" name="version" disabled />

	<div class="field mt-5">
		<span class="label">Uninstall reason(s)</span>
		<p class="help">
			Check all that apply.
		</p>
		{% for item in page.reasons %}
			<div class="control my-2">
				<label class="checkbox">
					<input type="checkbox" class="mr-2" name="reason" value="{{ item[0] }}">
					{{ item[1].text }}
				</label>
			</div>
		{% endfor %}
		<div class="control my-2 is-flex is-align-items-center">
			<label class="checkbox">
				<input type="checkbox" class="mr-2" name="reason" value="other">
				Other:
			</label>
			<input type="text" name="other_reason" class="input ml-3 is-small" style="width: auto;">
		</div>
	</div>

	{% for item in page.reasons %}
		{% if item[1].question %}
			<div class="field mt-5 is-hidden" id="extra-{{ item[0] }}">
				<label class="label">{{ item[1].question }}</label>
				<p class="help">
					Required. {{ item[1].question_hint }}
					Just a few words is fine - that's better than nothing.
				</p>
				<div class="control">
					<textarea class="textarea" name="extra-{{ item[0] }}" minlength="3"></textarea>
				</div>
			</div>
		{% endif %}
	{% endfor %}

	<div class="field mt-5">
		<label class="label">Comments</label>
		<p class="help">
			Optional. Any further information that you'd like to give us
		</p>
		<div class="control">
			<textarea class="textarea" name="comments"></textarea>
		</div>
	</div>

	<div class="field mt-5">
		<div class="control">
			<input type="submit" value="Submit" class="button is-primary" />
		</div>
	</div>
</form>


<h2>Have you read the FAQ?</h2>
<p>
	You may also wish to speak directly to the developer on the Discord or
	Matrix chat rooms.
</p>
<p>
	<a class="button is-primary" href="/help/">
		<i class="fas fa-question-circle mr-2"></i>
		Frequently Asked Questions
	</a>
	<a href="https://gitlab.com/rubenwardy/renewedtab/-/issues" class="button">
		<i class="fab fa-gitlab mr-2"></i>
		Issue Tracker
	</a>
	<a href="https://discord.gg/zYjR54b" class="button">
		<i class="fab fa-discord mr-2"></i>
		Discord
	</a>
	<a href="https://matrix.to/#/#renewedtab:matrix.org" class="button" >
		<i class="fas fa-hashtag mr-2"></i>
		Matrix
	</a>
    <a href="https://github.com/rubenwardy/renewedtab" class="button">
		<i class="fab fa-github mr-2"></i>
		GitHub (mirror)
	</a>
</p>


<h2>Didn't mean to uninstall?</h2>
<p>
	Install again:
</p>
<p>
	<a class="button is-firefox utm-link" href="{{ site.firefox }}&utm_content=reinstall">
		<span class="icon">
			<i class="fab fa-firefox-browser"></i>
		</span>
		<span>Firefox</span>
	</a>
	<a class="button is-chrome utm-link" href="{{ site.chrome }}&utm_content=reinstall">
		<span class="icon">
			<i class="fab fa-chrome"></i>
		</span>
		<span>Chrome</span>
	</a>
</p>


<script src="/static/feedback.js?v=2"></script>
