{% assign pathsplit = page.path | split: '/' %}
{% assign lang = pathsplit[0] %}
{% assign l = site.data.locale[lang] | default: site.dat.locale.en %}
{% assign en = site.data.locale.en.index %}
{% assign oldSegment = "/" | append: lang | append: "/" %}

<nav class="navbar is-primary">
	<div class="container">
		<div class="navbar-brand">
			{% unless include.hide_brand %}
			<a class="navbar-item" href="/">
				{{ l.index.title }}
			</a>
			{% endunless %}
			<a role="button" class="navbar-burger" aria-label="menu"
				aria-expanded="false" data-target="nav-menu">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="nav-menu" class="navbar-menu">
			<div class="navbar-start">
				{% for item in site.data.navbar %}
					{% assign title_id = "nav." | append: item.id %}
					{% assign title = l.index[title_id] | default: en[title_id] %}
					{% assign url = item.url | replace: "/en/", oldSegment %}
					<a class="navbar-item {% if url == page.url %}active{% endif %}" href="{{ url }}">
						{{ title }}
					</a>
				{% endfor %}
			</div>

			<div class="navbar-end">
				{% if site.data.locale[lang] %}
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">
							<i class="fas fa-language"></i>
						</a>

						<div class="navbar-dropdown">
							{% for other in site.data.languages %}
								{% assign newSegment = "/" | append: other.code | append: "/" %}

								<a class="navbar-item" href="{{ page.url | replace: oldSegment, newSegment }}">
									{{ other.name }}
								</a>
							{% endfor %}
						</div>
					</div>
				{% endif %}

				{% for item in site.data.social %}
				<a class="navbar-item" href="{{ item.url }}" title="{{ item.title }}">
					<span>
						<i class="{{ item.icon }}"></i>
					</span>
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
</nav>
