<!DOCTYPE html>
{% assign pathsplit = page.path | split: '/' %}
{% assign lang = pathsplit[0] %}
{% assign l = site.data[lang] %}
{% if l %}
	<html lang="{{ lang }}">
{% else %}
	<html>
	{% assign l = site.data.en %}
{% endif %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{{ page.title }}
		{% if page.title != l.index.title %}
			- {{ l.index.title }}
		{% endif %}
	</title>

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/all.min.css">
	<link rel="stylesheet" href="/static/style.css?v=3">
	<link rel="icon" href="/static/icon.svg">

	{% if site.data[lang] %}
		{% assign oldSegment = "/" | append: lang | append: "/" %}
		{% for other in site.data.languages %}
			{% assign newSegment = "/" | append: other.code | append: "/" %}

			<link rel="alternate" hreflang="{{ other.code }}"
				href="{{ page.url | replace: oldSegment, newSegment }}" />
		{% endfor %}

		{% if page.url == oldSegment %}
			{% assign description = site.data[lang].index.description %}
			<meta name="og:title" content="Renewed Tab" />
			<meta name="og:description" content="{{ description }}" />
			<meta name="description" content="{{ description }}" />
			<meta name="og:url" content="{{ page.url | absolute_url }}" />
			<meta name="og:image" content="{{ '/static/images/gallery/screenshot.png' | absolute_url }}" />
		{% endif %}
	{% endif %}

</head>
<body>
	{{ content }}

	<script async src="/static/navbar.js"></script>
	<footer class="footer content has-text-centered">
		<p>
			Copyright &copy; 2021 to <a href="https://rubenwardy.com">rubenwardy</a> |
			CC BY-SA 4.0
		</p>
		<p>
			<a href="/privacy_policy/">Privacy Policy</a> |
			<a href="/press/">Press Kit</a> |
			<a href="/get_involved/#donate">Donate</a> |
			<a href="/credits/">Credits</a><br>
			<a href="https://gitlab.com/renewedtab/renewedtab.com">Website source</a> |
			<a href="https://gitlab.com/renewedtab/renewedtab">GitLab</a> |
			<a href="https://github.com/rubenwardy/renewedtab">GitHub Mirror</a> |
			<a href="https://discord.gg/zYjR54b">Discord</a> |
			<a href="https://matrix.to/#/#renewedtab:matrix.org">Matrix</a>
		</p>
	</footer>
</body>
</html>
