<!DOCTYPE html>
{% assign pathsplit = page.path | split: '/' %}
{% assign lang = pathsplit[0] %}
{% assign l = site.data.locale[lang] %}
{% assign en = site.data.locale.en.index %}
{% if l %}
	<html lang="{{ lang }}">
{% else %}
	<html>
	{% assign l = site.data.locale.en %}
{% endif %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% assign title = page.title %}
	{% if title != l.index.title %}
		{% assign trans_title = l.index.title | default: en.title %}
		{% assign title = title | append: " - " | append: trans_title %}
	{% endif %}

	<title>
		{{ title }}
	</title>

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/all.min.css">
	<link rel="stylesheet" href="/static/style.css?v=3">
	<link rel="icon" href="/static/icon.svg">

	<link rel="canonical" href="https://renewedtab.com{{ page.url }}">

	<meta name="og:title" content="{{ title }}" />
	<meta name="og:url" content="{{ page.url | absolute_url }}" />

	{% if site.data.locale[lang] %}
		{% assign oldSegment = "/" | append: lang | append: "/" %}
		{% for other in site.data.languages %}
			{% assign newSegment = "/" | append: other.code | append: "/" %}

			<link rel="alternate" hreflang="{{ other.code }}"
				href="{{ page.url | replace: oldSegment, newSegment | absolute_url }}" />
		{% endfor %}

		{% if page.url == oldSegment %}
			{% assign description = site.data.locale[lang].index.description %}
			<meta name="og:description" content="{{ description }}" />
			<meta name="description" content="{{ description }}" />
			<meta name="og:image" content="{{ '/static/images/gallery/screenshot.png' | absolute_url }}" />
		{% endif %}
	{% endif %}

	{% if page.images %}
		{% assign thumbnail = page.images | first %}
		{% if thumbnail[1] %}
		{% assign thumbnail = thumbnail[1] %}
		{% endif %}
		{% if thumbnail.url %}
			{% assign thumbnail_url = thumbnail.url %}
		{% else %}
			{% assign thumbnail_url = "/static/blog/" | append: thumbnail.path | absolute_url %}
		{% endif %}
		<meta name="og:image" content="{{ thumbnail_url }}" />
		<meta name="twitter:image" content="{{ thumbnail_url }}" />
	{% endif %}

	{% if page.description %}

		<meta name="og:description" content="{{ page.description }}" />
		<meta name="description" content="{{ page.description }}" />
	{% endif %}
</head>
<body>
	{{ content }}

	<script async src="/static/navbar.js"></script>
	<footer class="footer content has-text-centered">
		<p>
			Copyright &copy; 2021-{{ site.time | date: '%Y' }} to
			<a href="https://rubenwardy.com">rubenwardy</a> |
			CC BY-SA 4.0
		</p>
		<p>
			<a href="/privacy_policy/">Privacy Policy</a> |
			<a href="/press/">Press Kit</a> |
			<a href="/get_involved/#donate">Donate</a> |
			<a href="/credits/">Credits</a><br>
			<a href="https://gitlab.com/renewedtab/renewedtab.com">Website source</a> |
			<a href="https://gitlab.com/renewedtab/renewedtab">GitLab</a> |
			<a href="https://github.com/rubenwardy/renewedtab">GitHub Mirror</a> |
			<a href="https://discord.gg/zYjR54b">Discord</a> |
			<a href="https://matrix.to/#/#renewedtab:matrix.org">Matrix</a>
		</p>
	</footer>
</body>
</html>
