---
layout: article
---

{% assign pathsplit = page.path | split: '/' %}
{% assign lang = pathsplit[0] %}
{% assign l = site.data.locale[lang].index %}
{% assign en = site.data.locale.en.index %}

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "FAQPage",
	"mainEntity": [
		{% for q in site.data.faq %}
			{% assign title_id = "faq." | append: q | append: ".title" -%}
			{%- assign desc_id = "faq." | append: q | append: ".desc" -%}
			{%- assign title = l[title_id] | default: en[title_id] -%}
			{%- assign desc = l[desc_id] | default: en[desc_id] -%}
			{%- assign id = title | slugify -%}

			{
				"@type": "Question",
				"name": {{ title | jsonify }},
				"url": {{ page.url | absolute_url | append: "#" | append: id | jsonify }},
				"acceptedAnswer": {
					"@type": "Answer",
					"text": {{ desc | markdownify | jsonify }}
				}
			}
			{%- if forloop.last == false -%}
				,
			{%- endif -%}
		{% endfor %}
	]
}
</script>


<a href="/{{ lang }}/help/">
	<i class="fas fa-arrow-left"></i>
	{{ l.index["help.back"] | default: en["help.back"] }}
</a>


<h1>
	{{ l["help.links.faq.desc"] | default: en["help.links.faq.desc"] }}
</h1>

<ul>
	{% for q in site.data.faq %}
		{% assign title_id = "faq." | append: q | append: ".title" %}
		{% assign title = l[title_id] | default: en[title_id] %}
		<li>
			<a href="#{{ title | slugify }}">
				{{ title }}
			</a>
		</li>
	{% endfor %}
</ul>

{% for q in site.data.faq %}
	{% assign title_id = "faq." | append: q | append: ".title" %}
	{% assign desc_id = "faq." | append: q | append: ".desc" %}
	{% assign title = l[title_id] | default: en[title_id] %}
	{% assign desc = l[desc_id] | default: en[desc_id] %}
	{% assign id = title | slugify %}

	<h2 id="{{ id }}">{{ title }}</h2>

	{{ desc | markdownify }}
{% endfor %}


<div class="buttons">
	<a href="https://gitlab.com/renewedtab/renewedtab/-/issues" class="button is-primary">
		<i class="fab fa-gitlab mr-2"></i>
		Issue Tracker
	</a>
	<a href="https://rubenwardy.com/contact/" class="button">
		<i class="fas fa-envelope mr-2"></i>
		Contact Me
	</a>
	<a href="https://discord.gg/zYjR54b" class="button">
		<i class="fab fa-discord mr-2"></i>
		Discord
	</a>
	<a href="https://matrix.to/#/#renewedtab:matrix.org" class="button">
		<i class="fas fa-hashtag mr-2"></i>
		Matrix
	</a>
	<a href="https://github.com/rubenwardy/renewedtab" class="button">
		<i class="fab fa-github mr-2"></i>
		GitHub (mirror)
	</a>
</div>
