---
layout: article
---

{% assign pathsplit = page.path | split: '/' %}
{% assign lang = pathsplit[0] %}
{% assign l = site.data.locale[lang] %}
{% assign en = site.data.locale.en.index %}


<div class="columns">
	{% for link in site.data.help.links %}
		{% assign title_id = "help.links." | append: link.id | append: ".title" %}
		{% assign desc_id = "help.links." | append: link.id | append: ".desc" %}
		{% assign title = l.index[title_id] | default: en[title_id] %}
		{% assign desc = l.index[desc_id] | default: en[desc_id] %}

		<div class="column">
			<a href="{{ link.url }}">
				<div class="box has-text-centered">
					<i class="fas fa-{{ link.icon }} is-size-1 mb-4"></i>
					<h3 class="my-2">{{ title }}</h3>
					<div>{{ desc }}</div>
				</div>
			</a>
		</div>
	{% endfor %}
</div>


{% assign top_questions = l.index['help.top_questions'] | default: en['help.top_questions']  %}
<h2 id="{{ top_questions | slugify }}">
	{{ top_questions }}
</h2>
<ul>
	{% for q in site.data.faq %}
		{% assign title_id = "faq." | append: q | append: ".title" %}
		{% assign title = l.index[title_id] | default: en[title_id] %}
		<li>
			<a href="/{{ lang }}/help/faq/#{{ title | slugify }}">
				{{ title }}
			</a>
		</li>
	{% endfor %}
</ul>


{% assign articles = l.index['help.articles'] | default: en['help.articles']  %}
<h2 id="{{ articles | slugify }}">
	{{ articles }}
</h2>
<div>
	{% for post in site.posts %}
		{% include post_list_item.html post=post %}
	{% endfor %}
</div>


{{ content }}
